<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course 1</title>
    <link rel="stylesheet" href="../stylesheets/courses.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a class="button" href="/courses">Επιστροφή στον Κατάλογο</a>
        </div>
    </nav>
    <h1>Course 1: Introduction to Programming</h1>
    <p>Description of Course 1</p>
    <p>Level: Beginner</p>

    <h2>Course Overview</h2>
    <p>This course will introduce you to the basics of programming. You will learn about variables, control structures, functions, and basic data structures.</p>

    <h2>Lesson 1: Variables</h2>
    <p>In this lesson, we will cover the concept of variables. Variables are used to store data that can be used and manipulated in a program.</p>
    
    <h2>Lesson 2: Control Structures</h2>
    <p>This lesson will introduce you to control structures such as if statements and loops. These structures allow you to control the flow of your program based on certain conditions.</p>
    
    <h2>Lesson 3: Functions</h2>
    <p>Functions are reusable blocks of code that perform a specific task. In this lesson, you will learn how to define and call functions in your programs.</p>
    
    <h2>Lesson 4: Basic Data Structures</h2>
    <p>Data structures such as arrays and lists are used to store collections of data. This lesson will teach you how to use these structures to organize and manipulate data in your programs.</p>
    
    <a href="/courses">Back to Courses</a>
</body>
</html>
