<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Κεφαλαιο 3</title>
    <link rel="stylesheet" href="../stylesheets/courses.css">
</head>
<body>
    <div class="wrapper">
        <nav class="navbar">
            <div class="navbar-container">
                <a class="button" href="/courses">Επιστροφή στον Κατάλογο</a>
            </div>
        </nav>
        <div class="flex-container">
            <div id="content">    
            </div>
            <div class="flex-container" id="buttons">
            <button class="buttonSeeMore" id="nextChapterButton">Δες περισσότερα</button>
            </div>
        </div>
        
        
        <footer>
            <p>Απαλλακτική Εργασία "Εκπαιδευτικό Λογισμικό" - 2024<br><br>
                Π12182 - Π16069 <br>
                Π17088 - Π20092
            </p>
        </footer>
    </div>
    <script src="../javascripts/chapter3_theory.js"></script>
</body>
</html>