<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Navigation Bar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="registration page">
        <link rel="stylesheet" href="stylesheets/courseListStyle.css">
        <!-- Linking Google Font Link For Icons -->
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <header>
            <h3>Όνομα Σελίδας</h3>
        </header>
        <div class="container">
            <aside class="sidebar">
                <div class="sidebar-header">
                    <% if(isAuthenticated) { %>
                        <h3>¡Hola <%= user.username %>!</h3>
                    <% } else { %>    
                        <h2>¡Hola!</h2>
                    <% } %>
                </header>
                    
                </div>
                <ul class="sidebar-links">
                    <h4>Μενού</h4>
                    <% if (!isAuthenticated) { %>
                    <li>
                        <a href="/register">
                            <span class="material-symbols-outlined"> person_add </span>Εγγραφή</a>
                        <div class="menu-separator"></div>
                    </li>
                    <li>
                        <a href="/login">
                            <span class="material-symbols-outlined"> login </span>Σύνδεση</a>
                        <div class="menu-separator"></div>
                    </li>
                    <% } %>
                    <li>
                        <a href="/">
                            <span class="material-symbols-outlined"> home </span>Αρχική σελίδα</a>
                        <div class="menu-separator"></div>
                    </li>
                    <% if (isAuthenticated) { %>
                    <li>
                        <a href="/courses">
                            <span class="material-symbols-outlined"> dashboard </span>Ενότητες</a>
                        <div class="menu-separator"></div>
                    </li>
                    <% } else { %>
                    <li>
                        <a href="/courses-preview">
                            <span class="material-symbols-outlined"> dashboard </span>Ενότητες</a>
                        <div class="menu-separator"></div>
                    </li>
                    <% } %>
                    <% if (isAuthenticated) { %>
                    <li>
                        <a href="/quizzes">
                            <span class="material-symbols-outlined"> quiz </span>Κουίζ</a>
                        <div class="menu-separator"></div>
                    </li>
                    <li>
                        <a href="/users/<%= user._id %>">
                            <span class="material-symbols-outlined"> account_circle </span>Προφίλ</a>
                        <div class="menu-separator"></div>
                    </li>
                    
                    <li>
                        <a href="/logout">
                            <span class="material-symbols-outlined"> logout </span>Αποσύνδεση</a>
                        <div class="menu-separator"></div>
                    </li>
                    <% } %>
                </ul>
            </aside>
        </div>
        <main class="main-content">
            <div class="course-container">
                <div class="course">
                    <h2>Course 1</h2>
                    <p>Description of Course 1</p>
                    <p>Level: Easy</p>
                    <a class="button" href="courses/1">Go to Course</a>
                </div>
                <div class="course">
                    <h2>Course 2</h2>
                    <p>Description of Course 2</p>
                    <p>Level: Medium</p>
                    <a class="button" href="courses/2">Go to Course</a>
                </div>
                <div class="course">
                    <h2>Course 3</h2>
                    <p>Description of Course 3</p>
                    <p>Level: Easy</p>
                    <a class="button" href="courses/3">Go to Course</a>
                </div>
                <div class="course">
                    <h2>Course 4</h2>
                    <p>Description of Course 4</p>
                    <p>Level: Easy</p>
                    <a class="button" href="courses/4">Go to Course</a>
                </div>
                <div class="course">
                    <h2>Course 5</h2>
                    <p>Description of Course 5</p>
                    <p>Level: Easy</p>
                    <a class="button" href="courses/5">Go to Course</a>
                </div>
            </div>
        </main>
        <footer>
            <p>Απαλλακτική Εργασία "Εκπαιδευτικό Λογισμικό" - 2024<br><br>
                Π12182 - Π16069 <br>
                Π17088 - Π20092
            </p>
        </footer>
    </body>
</html>