<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ΧΟΛΑ ΕΣΠΑΝΙΟΛ</title>
    <link rel="stylesheet" href="stylesheets/landingStyle.css">
</head>
<body>
    <header>
        <% if(isAuthenticated) { %>
            <h1>ΚΑΛΗΣΠΕΡΑ <%= user.username %></h1>
        <% } else { %>    
            <h1>ΠΟΥ ΠΑΣ ΡΕ ΚΑΡΑΜΗΤΡΟ ΞΥΠΟΛΥΤΟΣ ΣΤΑ ΚΑΡΒΟΥΝΑ</h1>
        <% } %>
    </header>
    <main>
        <section class="features">
            <h2>ΜΑΘΕ ΙΣΠΑΝΙΚΑ ΜΑΖΙ ΜΑΣ</h2>
            <ul>
                <li>ΙΣΤΟΡΙΑ ΤΟΥ ΤΟΠΟΥ</li>
                <li>ΒΑΣΙΚΑ ΙΣΠΑΝΙΚΑ</li>
                <li>ΑΞΙΟΛΟΓΗΣΗ ΓΙΑ ΝΑ ΔΩ ΟΤΙ ΔΕΝ ΚΛΕΒΕΙΣ</li>
            </ul>
        </section>
        <section class="participate">
            <h2>DEJA DE SER UN FLOJO DE MIERDA</h2>
            <p>ΚΑΝΕ ΕΓΓΡΑΦΗ ΤΩΡΑ</p>
            <a href="/register" class="btn">ΓΡΑΨΟΥ</a>
            <a href="/login" class="btn">ΜΠΕΣ ΜΕΣΑ</a>
            <a href="/courses" class="btn">ΜΑΘΗΜΑΤΑ</a>
            <% if (isAuthenticated) { %>
                <a href= "<%= user.url %>" class="btn">ΕΣΥ</a>
                <a href="/users" class="btn">ΤΑ ΜΠΟΥΜΠΟΥΚΙΑ ΜΑΣ</a>
                <a href="/quizzes" class="btn">ΤΕΣΤΑΚΙΑ</a>
                <form action="/logout" method="POST" >
                    <button type="submit" class="btn">ΦΥΓΕ</button>
                </form>   
            <% } %>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Παρουκος Productions. All rights reserved.</p>
    </footer>
</body>
</html>
