<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Results</title>
    <link rel="stylesheet" href="../stylesheets/results.css"> <!-- Adjust the path to your CSS file -->
</head>
<body>
    <div class="quiz-results-container">
        <div>
            <h2>Αποτελέσματα Quiz</h2>
            <p>Ο Βαθμός σου: <%= correct_answers %> / <%= totalQuestions %></p>
            <p>Ποσοστό: <%= percentageScore.toFixed(2) %>%</p>

            <p><%= results_message %></p>
            <a href="/" class="btn">Επιστροφή στην αρχική σελίδα</a>
            <a href="/courses" class="btn">Επιστροφή στον κατάλογο μαθημάτων</a>
            <a href="/quizzes" class="btn">Επιστροφή στον κατάλογο Quiz</a>
        </div>
    </div>
</body>
</html>
