<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="./stylesheets/listStyle.css"> <!-- Link to your CSS file -->
</head>
<body>
    <h1>Quizzes</h1>
    <p>Test your Knowledge!</p>
    <ul>
        <% quizzes.forEach(quiz => { %>
            <li>
                <a href="<%= `quizzes/quiz${quiz.id}`%>"><%= quiz.title %></a>
                <p><%= quiz.description %></p>
            </li>
        <% }) %>
    </ul>
</body>
</html>
