<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Σύνδεση Χρήστη</title>
    <link rel="stylesheet" href="stylesheets/register_success.css">
</head>
<body>
    <div class="login-container">
        <h1>Η Εγγραφή σου Ολοκληρώθηκε με επιτυχία!</h2>
        <p>Καλώς ήρθες στην παρέα μας, ετοιμάσου για ένα αξέχαστο ταξίδι μάθησης!</p>

        <div class="flex-container">
            <p><a class='button' href="/login">Συνδέσου</a></p>
            <p><a class='button' href="/">Επιστροφή στην αρχική σελίδα</a></p>
        </div>
</body>
</html>