@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-size: 15px;
    height: 100%;
  }

body {
    /* Spanish flag background */
    background-color: #ffc400;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

.container{
  display: flex;
}

header {
  text-align: center;
  background-color: #AD1519;
  color: white;
  padding: 10px 0;
}

.sidebar{
  color: antiquewhite;
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  /* Change the sidebar's length */
  height: 100%;
  width: 20vw;
  max-width: 180px;
  display:flex;
  flex-direction: column;
  padding: 20px 15px;
  background-color: #0a0a0a;  
  border: 5px double #0a0a0a;
  overflow-x: hidden;
  transition: all 0.4s ease;
}

.sidebar-links {
  list-style: none;
  margin-top: 20px;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
}

  .sidebar-links h4{
    color: antiquewhite;
    text-decoration: underline;
    font-weight: 500;
    white-space: nowrap;
    margin: 10px 0;
    position: relative;
  }

  .sidebar-links li a {
    color:#fefefec0;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0 5px;
    padding: 5px;
    font-weight: 300;
    /* white-space: nowrap; */
    transition: 0.2s ease;
  }

  .sidebar-links li a:hover {
    color: #161a2d;
    background: #fff;
    border-radius: 4px;
  }

  .sidebar .sidebar-header h2{
    font-size: 1.55rem;
    font-weight: 600;
    white-space: nowrap;
    margin-left: 23px;
  }
  

  .main-content{
    margin-left: 200px;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.695); /* Semi-transparent background for readability */
  }

  footer{
    color: white;
    text-align: center;
    background-color: #AD1519;
    padding: 10px 0;
  }


.slideshow-container {
    position: relative;
    max-width: 100%;
    padding: 10px;
}

.slides {
    display: none;
    max-width: 900px;
    height: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.responsive-image {
  max-width: 50%;
  width: 30%;
  height: auto;
}


.container-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.did-you-know-box {
  background-color: #ffc400;
  border: 2px solid #c60b1e;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.did-you-know-title {
  font-size: 24px;
  color: #c60b1e;
}
.did-you-know-fact {
  font-size: 18px;
  color: #333333;
}

.signup-button {
  background-color: #c60b1e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  max-width: 150px;
  align-self: center;
  text-align: center;
}


.retention-box {
  background-color: #ffc400;
  border: 2px solid #c60b1e;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-size: 18px;
}