/* Additional CSS specific to this page if needed */
body {
    background-color: #ffc400; /* Light orange background */
    color: #333333; /* Dark gray text */
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-size: 15px;
}
    
.profile-container {
            
    margin: 20px;          
    padding: 20px;         
    background-color: antiquewhite; 
    border: 1px solid #cccccc;         
    border-radius: 5px;          
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
        
.profile-container h2 {
            
    color: #c60b1e; 
    margin-bottom: 10px;
}
        
.profile-container p {
    font-size: 18px;
}
        
.profile-container .performance-history {
            
    margin-top: 20px;
}


.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #ffc400; /* Optional: adds a border around the image */
}
.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.table-container {
    width: 80%;
    margin: 50px auto;
    border: 1px solid #c60b1e;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #c60b1e;
}

th {
    background-color: #c60b1e;
    color: #fff;
}

td {
    background-color: white;
    color: #000;
}

tr:nth-child(even) td {
    background-color: #dbd8d8;
    color: #000;
}