body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    background-color: #ffc400;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #AD1519;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.question {
    margin: 20px 0;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 5px;
}

.question label {
    display: block;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 1em;
    color: black;
    background-color: #ffc400;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #daa702;
}
