body {
    background-color: #ffc400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px;
}

h1 {
    color: #c60b1e;
    margin-bottom: 20px;
}

/* Style the link as a button */
.button {
    display: inline-block;
    background-color: #c60b1e;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    width: 150px;
}

.button:hover {
    background-color: #a00b16;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}